.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container button {
  margin-top: 10px;
  width: 100px;
  height: 40px;
  color:black;
  border-radius: 8px;
  border: 2px solid black;
  background:linear-gradient(45deg,rgb(51, 248, 248),rgb(29, 141, 233));
  font-weight: bold;
}

.container button:hover {
  background-color:rgb(44, 121, 222)
}
.real-image {
  width: 60vw;
  height: 80vh;
  border: 5px solid black;
  border-radius: 8px;
}

@media only screen and (max-width:406px) {

   .footer{
      font-size:12px;
   }
   .header{
      font-size:12px;
   }
  .real-image {
    width: 100vw;
    height: 60vh;
  }
}

.spinner {
  display: flex;
  align-items: center;
  animation: rotate 1s infinite;
}

.spinner:before {
  content: " ";
  width: 100px;
  height: 100px;
  border: 8px solid rgb(231, 221, 221);
  border-top-color: turquoise;
  border-radius: 50%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }

}
.footer a
{
   color:black;
   text-decoration: none;
}